# Byte-compiled / optimized / DLL files
utils/__pycache__/
.pyc
# Web drivers - necessary for Selenium
.exe
# Env variables such as path
.env
# venv = virtual environment
venv
# My personal notes and TODOs
notes.md
.png
.pbix
# data collection - with exception of testing data?
/data_*/